
<%= link_to organization.name, organization_path(organization) %>

<a class="twitter-timeline" data-width="220" data-height="300" href="https://twitter.com/uspto">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>