<div class="col-md-6">
    
    <h1>Microposts</h1>
    
    <section class="content">
      <% @microposts.each do |post| %>
        <% if 0 != post.summary.index("RT") %>
        <p><%= link_to post.title , post.organization %></p>
        <ul>
          <li><%= simple_format post.summary %></li>
          <li><%= post.url %></li><br>
        </ul>
        <% end %>
      
      <% end %>
    </section>
</div>

<div class="col-md-6">
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  </script>
</div>
</div>