<%= link_to place.name, place_path(place) %>
<a class="twitter-timeline" data-width="220" data-height="300" href="https://twitter.com/uspto">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>